
@import 'bootstrap/mixins';
@import 'bootstrap/variables';
@import 'template/template';
@import 'module/module'; 

/*************************
***** Login Style ******
**************************/
.login-wrapper.container {
  height: auto !important;
  height: 450px;
  min-height: 450px;
} 
.login {
	background: $white;
  header {
		height: inherit;
    margin: 0;
    padding: 40px 20px 116px 0;
    background: none;
		position: inherit;
		h1 {
			float: inherit;
			text-align: center;
			margin: 0 0 10px 0;
			width: inherit;
			background: inherit;
			padding: 0;
			img {
				width: 308px;
    		margin-right: -145px;
			}
		}
    p {
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      padding: 30px 20px 0 0;
    }
  }
  h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0 17%;
    color: $white;
    letter-spacing: -1px;
  }
  h3 {
    font-size: 36px;
    color: #8f8f8f;
    text-align: center;
		margin: 0;
    padding: 10px 50px;
    line-height: 52px;
		background: $ash;
		border-bottom: 2px solid #b3b3b3;
  }
  .btn-lg {
    min-width: 120px;
    line-height: 28px;
  }
	footer {
		position: inherit;
		width: 100%;
    display: inline-block;
	}
	.forgotten {
		font-size: 13px;
		text-decoration: underline;
		float: right;
		margin-top: 15px;
	}
}
.login {
  .pwd {
    float: left;
    margin-top: 13px;
    color: #2e3192;
    text-decoration: underline;
  }
  &.pin {
    .form-control {
      height: 105px;
      border-radius: 2px;
      font-size: 40px;
      text-align: center;
    }
    .col-sm-offset-5 {
      margin-left: 36.666667%;
      margin-top: 20px;
    }
  }
}

/* ========================
* Dashboard
* ========================= */
.dashboard, .invoice {
	padding-left: 0 !important;
	margin-top: 70px !important;
	#page-content-wrapper {
		padding-bottom: 0;
	}
	.clients {
		/*margin-bottom: 40px;*/
		.form-control {
			height: 52px;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.sidebar-nav {
		width: inherit;
		position: inherit;
		margin-top: 18px;
		li {
			line-height: 65px;
			a {
				i {
					width: 82px;
    			margin: 0;
					color: $black;
					padding: 10px;
					text-indent: 0;
					text-align: center;
					display: block;
					line-height: 48px;	
					@include transition(0.5s);
					border: 3px solid rgba($greymedium,0.1);			
					&:hover, &.active {
					border: 3px solid $black;
				}
				}
			}
		}
	}
	.lg-tab {
		width:100%;
		height: 220px;
		display: table;
		margin-top: -9px;
		margin-bottom: 35px;
		a {
			font-size: 25px;
			font-weight: 600;
			color: $white;
			padding: 0 20px;
			text-align: center;
			vertical-align:middle;
			display:table-cell;
			background: $black;
			text-decoration: none;
			&.lg {
				font-size: 30px;
				.fa {
					margin-left: -10px;
					margin-right: 5px;
				}
				span {
					font-size: 15px;
					display: block;
				}
			}
		}
		small {
			font-size: 15px;
			color: $white;
			width: 100%; 
			top: 0;
    left: 0;
			text-align: center;
			position:absolute;
			padding: 15px 0;
		}
		div {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px;
			text-align: center;
			a {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 35px;
				padding: 0 20px;
				display: inline-block;
			}
		}
	}
	.table-responsive {
		margin-bottom: 40px;
	}
}

/* ========================
* Clients Dashboard
* ========================= */
.client-dashboard {
	margin-top: 40px;
	h2 {
		margin: 20px 0 10px;
	}
	.clients {
		h2 {
			margin: -9px 0 30px;
		}
	}
	.lg-tab {
		width:100%;
		height: 220px;
		display: table;
		margin-top: -9px;
		margin-bottom: 35px;
		a {
			font-size: 25px;
			font-weight: 600;
			color: $white;
			padding: 0 20px;
			text-align: center;
			vertical-align:middle;
			display:table-cell;
			background: $black;
			text-decoration: none;
			&.lg {
				font-size: 30px;
				.fa {
					margin-left: -10px;
					margin-right: 5px;
				}
				span {
					font-size: 15px;
					display: block;
				}
			}
		}
		small {
			font-size: 15px;
			color: $white;
			width: 100%; 
			top: 0;
    left: 0;
			text-align: center;
			position:absolute;
			padding: 15px 0;
		}
		div {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px;
			text-align: center;
			a {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 35px;
				padding: 0 20px;
				display: inline-block;
			}
		}
	}
	.content {
    padding: 15px; 
    height: 500px;
    overflow: auto;
    @media (min-width: 2281px) and (max-width: 2640px) { 
     height: 900px;
    }
		.table {
			tr {
				td {
					font-size: 13px;
					padding: 9px;
          strong {
            mark {
              font-size: 12px;
              font-weight: normal;
              color: $orange;
              margin-left: 8px;
            }
          }
					.action {
						width: 70px;
						margin-top: -16px;
						float: right;
						text-align: right;
						.fa {
							font-size: 15px;
							/*color: $black;*/
							padding: 0 3px;
						}					
					}
					span {
						text-overflow: ellipsis;
						width: 65%;
						height: 20px;
						float: left;
						overflow: hidden;
						display: block;
						white-space: nowrap;
						&.active {
							font-weight: 700;
						}
					}
				}
			}
			&.todo, &.in-progress, &.done {
				.fa {
					&.lg {
						font-size: 20px;
						color: $success;
					}
					&.fa-exclamation-circle {
						margin-right: 0;
					}
				}
			}
			&.todo {
				.danger, .warning {
					float: left;
					margin-top: 2px;
					margin-right: 6px;
				}
			}
			&.in-progress {
				.info {
					float: left;
					margin-top: 2px;
					margin-right: 6px;
				}
				.danger {
					margin-right: 0;
				}
			}
			&.done {
				.successbright {
					float: left;
					margin-top: 2px;
					margin-right: 6px;
				}
			}
		}
	}
	a {
		&.btn {
			&.pull-right {
				margin-top: -15px;
			}
		}
	}
	.nav-tabs {
		li {
			a {
				font-weight: 600;
			}
		}
	}
	.tab-content {
		padding: 15px 0 0 0;
		.form-group {
			.col-sm-6, .col-sm-12 {
				padding: 0 10px;
			}
			.total-hrs {
				font-size: 25px;
				background:$black;
				color: $white;
				border: none;
				padding: 15px 10px;
				text-align:center;
			}
			.form-control-feedback.left {
				left: 4px;
			}
		}
	}
}

/*************************
***** Pages Style ******
**************************/
.padding-none {
	margin-bottom: 10px !important;
	padding: 0 !important;
}

/*************************
***** Comment Style ******
**************************/
.comments {
	padding: 0 23px;
  h3 {
    text-align: left;
    a {
      font-size: 22px;
      color: $black;
    }
  }
	h5 {
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid $black;
	}	
	.row {
		border-bottom: 1px solid rgba($darkgrey,0.2);
		margin: 0;
		padding: 20px 0 20px 0;
		.col-sm-12 {
			padding: 0;
		}
		h6 {
			font-size: 14px;
			margin-bottom: 20px;
			span {
				font-weight: 700;
				color: $black;
				text-transform: uppercase;
				padding: 10px 8px 10px 36px;
				background: url(../images/user-icon.png) no-repeat left;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline; 
				+li:before { 
					content: "/ ";
					padding: 0 5px;
					color: #ccc;
				}
				a {
					font-size: 12px;
					font-weight: 500;
					color: $black;
					text-transform: uppercase;
				}
			}
		}
		textarea {
			margin-bottom: 20px;
		}
	}
}
