
@media (min-width: 768px) {
.col-md-55 {
	width: 20%;
}
}

@media (min-width: 992px) {
.col-md-55 {
	width: 20%;
}
}

@media (min-width: 1200px) {
.col-md-55 {
	width: 20%;
}
}

@media (min-width: 192px) and (max-width: 1270px) {
.hidden-small {
	display: none !important;
}
table.tile_info span.right {
	margin-right: 7px;
	float: left;
}
}

@media (min-width: 320px) and (max-width: 519px) {
header .action-panel li span {
	display: block !important;
}
.container-wrapper .x-title h3 {
	font-size: 14px;
	text-align: left;
}
.container-wrapper .x-title h3 span {
    font-size: 16px;
}
.panel-heading-wrapper .info-wrapper .info-top {
	width: 100%;
	height: inherit;
	padding-right: 0;
	padding-bottom: 8px;
}
.panel-heading-wrapper .info-wrapper .info-bottom {
	padding: 2px 60px 2px 25px;
}
.accordion .panel .panel-body .form-group {
	display: block;
}
.according-default .panel-heading h4 .small .pull-right {
	display: none;
}
.according-default .panel-heading h4 .alert {
	font-size: 9px;
	margin: -3px 0 0 0;
}
.btn {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}
.action-btn .pull-right {
	float: inherit !important;
}
.listboxswap .listbox_controls ul li {
   margin: 0 14px 13px;
}
.panel-heading-wrapper .info-wrapper .info-bottom {
	width: 108%;
	height: 52px;
}
.panel-heading-wrapper .info-wrapper .info-top {
	height: inherit;
	padding-right: 0;
	padding-bottom: 5px;
}
.panel-heading-wrapper .info-wrapper {
	padding: 0 26px 1px 26px;
}
}
@media (min-width: 768px) {
.form-model .modal-dialog {
	width: 1000px;
	margin: 30px auto;
}
.modal-body {
	position: relative;
	overflow: hidden;
}
}
@media (min-width: 320px) and (max-width: 767px) {
.login h2 {
	font-size: 24px;
	padding: 20px 0 0 0;
	clear: both;
	letter-spacing: inherit;
}
.panel-heading-wrapper .info-wrapper .info-bottom {
	width: 130%;
	    padding-right: 60px;
}
header .action-panel {
	padding-top: 5px;
	margin-top: 5px;
}
header .action-panel li {
	font-size: 12px;
	display: block;
	float: none;
}
header .action-panel li span {
	display: inline-block;
	clear: inherit;
	padding-left: 23px;
}
header .action-panel li .btn-special {
	float: right;
	margin-top: 5px;
}
/*.dataTables_scrollHead {
	position: inherit !important;
	overflow: inherit !important;
}
.dataTables_scrollBody {
	overflow: inherit !important;
	height: inherit !important;
}
.dataTables_wrapper {
	width: 620px;
}
.dataTables_wrapper td {
	float: left;
}
table.jambo_table thead th {
	width: 120px !important;
}
table.jambo_table tbody td {
	width: 120px !important;
}
table.jambo_table thead th:last-child {
	width: 60px !important;
}
table.jambo_table tbody td:last-child {
	width: 60px !important;
}
.scroll-sm-table.jambo_table th {
	width: 150px !important;
}
.scroll-sm-table.jambo_table td {
	width: 150px !important;
}
.scroll-sm-table.jambo_table th:nth-child(4) {
	width: 300px !important;
}
.scroll-sm-table.jambo_table td:nth-child(4) {
	width: 300px !important;
}*/
footer {
	padding: 27px 20px 15px;
}
footer .pull-left, footer .pull-right {
	width: 100%;
	text-align: center;
}
.scrollup {
	right: 13px;
}
.form-wrapper .sidebar {
   padding: 0;
}
#page-content-wrapper, #wrapper.toggled #page-content-wrapper {
	position: inherit;
}
}

@media (min-width: 520px) and (max-width: 767px) {
.panel-heading-wrapper .info-wrapper .info-bottom {
	width: 108%;
	height: 52px;
}
.panel-heading-wrapper .info-wrapper .info-top {
	height: inherit;
	padding-right: 0;
	padding-bottom: 5px;
}
.panel-heading-wrapper .info-wrapper {
	padding: 8px 26px 1px 26px;
}
.according-default .panel-heading h4 .small {
	float: right !important;
}
.panel-heading-wrapper .info-wrapper .info-bottom {
	width: 120%;
	height: 52px;
	    padding-right: 116px;
}
.panel-heading-wrapper .info-wrapper {
	padding: 0 26px 1px 26px;
}
.listboxswap .listbox_controls ul li {
   margin: 0 14px 13px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.nav>li>a {
	font-size: 12px;
	padding: 14px 10px 12px !important;
}
.navbar-nav .fa {
	font-size: 12px;
	padding-right: 2px;
}
.according-default .panel-heading h4 .small {
	float: right !important;
}
.panel-heading-wrapper .info-wrapper .info-bottom {
	width: 109%;
	height: 52px;
	padding-right: 40px;
}
.panel-heading-wrapper .info-wrapper .info-top {
	height: inherit;
	padding-right: 0;
	padding-bottom: 5px;
}
.panel-heading-wrapper .info-wrapper {
	padding: 0 26px 1px 26px;
}
.listboxswap .listbox_controls ul li {
   margin: 0 14px 13px;
}
}

@media (min-width: 320px) and (max-width: 991px) {
.accordion .panel .panel-heading-wrapper {
	height: inherit;
}
.panel-heading-wrapper .col-md-offset-2 {
	margin-left: 0;
}
.accordion .panel-heading {
	margin: -4px -1px 0 0;
	padding: 9px 12px;
}
.accordion .panel-heading .fa {
	font-size: 20px;
}
.x-title .nav>li>a {
	padding: 4px 8px 7px !important;
}
}

@media (min-width: 992px) and (max-width: 1200px) {
.nav>li>a {
	font-size: 13px;
	padding: 14px 19px 12px !important;
}
.x-title .nav>li>a {
	padding: 4px 8px 7px !important;
}
/*.my-shop .accordion .panel-heading {
	margin: 0 20px 0 0;
}*/
.my-shop .accordion.according-default .panel-heading {
	margin-right: 0;
}
.panel-heading-wrapper .info-wrapper .info-bottom {
	width: 108%;
	height: 52px;
	padding-right: 67px;
}
.panel-heading-wrapper .info-wrapper .info-top {
	height: 52px;
	padding-right: 0;
	padding-bottom: 5px;
}
.panel-heading-wrapper .info-wrapper {
	padding: 0 26px 1px 26px;
}
}

@media (min-width: 768px) and (max-width: 1359px) {
.login h2 {
	font-size: 31px;
	padding: 20px 0 0 0;
	clear: both;
}
.login h3 {
	font-size: 18px;
	padding: 0 9px;
}

}


@media (min-width: 1369px) and (max-width: 1920px) {
.login-wrapper.container {
	height: auto !important;
	height: 780px;
	min-height: 780px;
}
.login-wrapper.container h2 {
	margin-top: 100px;
	margin-bottom: 50px;
}
}

@media all and (max-width: 420px) {
.listboxswap .source_wrapper, .listboxswap .listbox_controls, .listboxswap .destination_wrapper {
	float: none;
	width: 99%;
	margin: 0;
}
.listboxswap .listbox_controls {
	margin: 5% auto 5% auto;
	width: 40%;
}
.listboxswap .listbox_controls .add span.arrow:before {
	content: "";
}
.listboxswap .listbox_controls .remove span.arrow:before {
	content: "";
}
.listboxswap .listbox_controls .add span.label:after {
	content: "\00a0\2193";
}
.listboxswap .listbox_controls .remove span.label:before {
	content: "\2191\00a0";
}
.listboxswap .listbox_controls .add span.label, .listboxswap .listbox_controls .remove span.label {
	display: block;
	visibility: visible;
}
}

@media all and (max-width: 750px) {
.listboxswap .listbox_controls .add span.label, .listboxswap .listbox_controls .remove span.label {
	display: none;
	visibility: hidden;
}
.listboxswap .listbox_controls .add span.arrow:before {
	content: "\2192";
}
.listboxswap .listbox_controls .remove span.arrow:before {
	content: "\2190";
}
}

@media all and (max-width: 750px) {
.listboxswap.rtl .listbox_controls .add span.arrow:after {
	content: "\2190";
}
.listboxswap.rtl .listbox_controls .add span.arrow:before {
	content: "";
}
.listboxswap.rtl .listbox_controls .remove span.arrow:after {
	content: "\2192";
}
.listboxswap.rtl .listbox_controls .remove span.arrow:before {
	content: "";
}
}

@media all and (max-width: 420px) {
.listboxswap.rtl .source_wrapper, .listboxswap.rtl .listbox_controls, .listboxswap.rtl .destination_wrapper {
	float: none;
	width: 99%;
	margin: 0;
}
.listboxswap.rtl .listbox_controls {
	margin: 5% auto 5% auto;
	width: 40%;
}
.listboxswap.rtl .listbox_controls .add span.arrow:after {
	content: "";
}
.listboxswap.rtl .listbox_controls .remove span.arrow:after {
	content: "";
}
.listboxswap.rtl .listbox_controls .add span.label:after {
	content: "\00a0\2193";
}
.listboxswap.rtl .listbox_controls .remove span.label:before {
	content: "\2191\00a0";
}
}
@media (min-width: 1800px) {
#wrapper {
   padding-right: 10px;
}
#sidebar-wrapper {
  height: 73%;
}
}
