
// Accounts


/*************************
***** HUD Style ******
**************************/
.accounts {
	h3 {
		margin: 30px 0;
    text-align: left;
	}
	.content {
		padding: 15px;
    position: relative;
    clear: none;
    float: none;
	}
  .col-sm-offset-3 {
    margin-left: 24.5%;
  }
	h4 {
		font-size: 17px;
		text-align: center;
		color: $black;
		margin-bottom: 20px;
		span {
			background: $black;
			color: $white;
			padding: 3px 10px 6px;
			@include border-radius(3px);
			position: relative;
			&:after {
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba($black, 0);
				border-top-color: #000;
				border-width: 5px;
				margin-left: -5px;
			}
		}
	}
	hr {
		border-top: 1px solid rgba($grey,0.3);
		margin: 30px 0;
	}
	/*.select-year {
		font-size: 30px;
		width: 100px;
		height: 32px;
		margin: -60px 0 30px 0;
    padding: 6px 10px;
		float: right;
		clear: both;
		position: relative;
		z-index: 99;
	}*/
  .calendar-control {
    .select-year {
      h3 {
        margin-bottom: -30px;
        a {
          padding: 0 50px;
        }
      }
      h4 {
        font-size: 22px;
        margin-top: 0;
      }
    }
    .select-month {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      margin-bottom: 25px;
      padding: 8px 0;
      .col-sm-1 {
        font-weight: 600;
        text-align: center;
        a.active {
          background: $black;
          padding: 5px 15px;
          color: $white;
          border-radius: 2px;
           @media screen and (max-width :$screen-md) {
             padding: 5px 10px;
          }
          @media screen and (max-width :$screen-sm) {
             padding: 5px 5px;
          }
        }
      }
      &.bas {
        .col-sm-1 {
          width: 6.25%;
          @media screen and (max-width :$screen-sm) {
            display: inline;
            padding-left: 5px;
            padding-right: 5px;
          }
          a {
            &.bas {
              font-weight: 700;
              padding: 4px 5px;
              background: $warning;
              color: $black;
              @include border-radius(2px);
            }
          }
        }
      }
    }
    .select-date {
      border-bottom: 1px solid $black;
      padding: 8px 0;
      ul {
        padding: 0;
        display: table;
        margin: -15px auto 10px;
        li {
          list-style-type: none;
          display: inline-block;
          a {
            padding: 4px 5px;
            min-width: 29px;
            text-align: center;
            display: inline-block;
            border: 1px solid $black;
            margin-right: 3px;
            &:hover {
              color: $white;
              background: $black;
            }
            &.active {
              font-weight: 700;
              background: $black;
              color: $white;
            }
          }
        }
      }
    }
  }
	.income {

	}		
	.invoices {
		margin-bottom: 40px;
		.table {
			@include border-radius(5px);
			td.price {
				font-size: 17px;
				font-weight: 700;
				vertical-align: middle;
			}
			.overdue {
				td {
					background: $danger;
					color: $white;
				}
			}
		}
	}
	.expenses {
		.row {
			margin-bottom: 5px;
			.col-lg-6 {
			width: 50%;
			label {
				font-weight: 400;
			 .fa {
			 		margin-right: 5px;
			 }
			}
		}
		}
	}
	.year-to-date {
		margin-bottom: 70px;
		.well {
			padding: 5px;
			text-align: center;
			background: $success;
			p {
				font-size: 38px;
				font-weight: 700;
				color: $white;
			}
			&.payable {
				background: $danger;
				.gst {
					font-weight: 500;
					color: $white;
					position: absolute;
					left: 0;
					margin: 4px 0 0 29px;
				}
				.pay {
					font-weight: 500;
					text-transform: uppercase;
					color: $white;
					float: right;
					margin: -25px 11px 0 0;
				}
			}
		}
	}
	.staff {
		h5 {
			font-style: italic;
			text-align:center;
		}
	}
	.labels {
		width: 200px;
		margin: 0 auto;
		p {
			font-size: 12px;
			border: 1px solid $ash;
			@include border-radius(3px);
			padding: 10px 10px;
		}
	}
	.chart_wrapper {
		$pie_chart_dia: 400px; // pie chart diameter
		$pie_chart_rad: $pie_chart_dia/2; // pie chart radius
		$circle_label_dia: 300px; // circle label diameter
		$circle_label_rad: $pie_chart_dia/2; // circle label radius
		position: relative;
		/* Margin around pie chart. This is optional. */
		margin:10px auto; 
		/* This forces the charts to display inline. This is added for this demo and is optional. */
		display: table;
		canvas {
			-webkit-border-radius: $pie_chart_rad;
			-moz-border-radius: $pie_chart_rad;
			border-radius: $pie_chart_rad;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
			width: $pie_chart_dia !important;
			height: $pie_chart_dia !important;
		}
		.circle {
			position: absolute;
			top:($pie_chart_dia - $circle_label_dia)/2;
			left: ($pie_chart_dia - $circle_label_dia)/2;
			width: $circle_label_dia;
			height: $circle_label_dia;
			
			/* positioning label text vertically */
			padding-top: 50px; 
			-webkit-border-radius: $circle_label_rad;
			-moz-border-radius: $circle_label_rad;
			border-radius: $circle_label_rad;
			span {
				width: 100%;
				display: block;
				text-align: center;
				color: #fff;
			}
			.title {
				font-size: 18px;
				font-weight: bold;
			}
			.tagline {
				font-size: 12px;
			}
			.pie_value {
				font-size: 40px;
				font-weight: bold;
				margin-top: 4px;
			}
		}
		.circle {
			background: $white;
			span {
				font-size: 25px;
				font-weight: 700;
				color: $black;
			}
		}
		.chart_wrapper-indise {
			canvas {
				width: 270px !important;
				height: 270px !important;
				margin-top: -36px;
				margin-left: 16px;
			}
			.circle {
				width: 150px;
				height: 150px;
				margin: 25px 0 0 27px;
			}
		}
	}
	.chart_wrapper-2 {
		$pie_chart_dia: 225px; // pie chart diameter
		$pie_chart_rad: $pie_chart_dia/2; // pie chart radius
		$circle_label_dia: 165px; // circle label diameter
		$circle_label_rad: $pie_chart_dia/2; // circle label radius
		position: relative;
		/* Margin around pie chart. This is optional. */
		margin:10px auto; 
		/* This forces the charts to display inline. This is added for this demo and is optional. */
		display: table;
		canvas {
			-webkit-border-radius: $pie_chart_rad;
			-moz-border-radius: $pie_chart_rad;
			border-radius: $pie_chart_rad;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
			width: $pie_chart_dia !important;
			height: $pie_chart_dia !important;
		}
		.circle {
			position: absolute;
			top:($pie_chart_dia - $circle_label_dia)/2;
			left: ($pie_chart_dia - $circle_label_dia)/2;
			width: $circle_label_dia;
			height: $circle_label_dia;
			
			/* positioning label text vertically */
			padding-top: 50px; 
			-webkit-border-radius: $circle_label_rad;
			-moz-border-radius: $circle_label_rad;
			border-radius: $circle_label_rad;
			span {
				width: 100%;
				display: block;
				text-align: center;
				color: #fff;
			}
			.title {
				font-size: 18px;
				font-weight: bold;
			}
			.tagline {
				font-size: 12px;
			}
			.pie_value {
				font-size: 40px;
				font-weight: bold;
				margin-top: 4px;
			}
		}
		.circle {
			background: $white;
			span {
				font-size: 15px;
				font-weight: 700;
				color: $black;
				margin-top: -5px;
				&.tagline {
					color: $success;
				}
			}
		}
	
		.chart_wrapper-indise {
			canvas {
				width: 165px !important;
				height: 165px !important;
				margin-top: -50px !important;
				margin-left: 0 !important;
			}
			.circle {
				width: 106px;
				height: 106px;
				margin: -1px 0 0 -1px;
			}
		}
	}
	.chart_wrapper-3 {
		$pie_chart_dia: 180px; // pie chart diameter
		$pie_chart_rad: $pie_chart_dia/2; // pie chart radius
		$circle_label_dia: 120px; // circle label diameter
		$circle_label_rad: $pie_chart_dia/2; // circle label radius
		position: relative;
		/* Margin around pie chart. This is optional. */
		margin:10px auto; 
		/* This forces the charts to display inline. This is added for this demo and is optional. */
		display: table;
		canvas {
			-webkit-border-radius: $pie_chart_rad;
			-moz-border-radius: $pie_chart_rad;
			border-radius: $pie_chart_rad;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
			width: $pie_chart_dia !important;
			height: $pie_chart_dia !important;
		}
		.circle {
			position: absolute;
			top:($pie_chart_dia - $circle_label_dia)/2;
			left: ($pie_chart_dia - $circle_label_dia)/2;
			width: $circle_label_dia;
			height: $circle_label_dia;
			
			/* positioning label text vertically */
			padding-top: 50px; 
			-webkit-border-radius: $circle_label_rad;
			-moz-border-radius: $circle_label_rad;
			border-radius: $circle_label_rad;
			span {
				width: 100%;
				display: block;
				text-align: center;
				color: #fff;
			}
			.title {
				font-size: 18px;
				font-weight: bold;
			}
			.tagline {
				font-size: 12px;
			}
			.pie_value {
				font-size: 40px;
				font-weight: bold;
				margin-top: 4px;
			}
		}
		.circle {
			background: $white;
			span {
				font-size: 15px;
				font-weight: 700;
				color: $black;
				margin-top: -30px;
				&.tagline {
					color: $success;
				}
			}
		}
	
		.chart_wrapper-indise {
			canvas {
				width: 120px !important;
				height: 120px !important;
				margin-top: -50px !important;
				margin-left: 0 !important;
			}
			.circle {
				width: 70px;
				height: 70px;
				margin: -1px 0 0 -4px;
			}
		}
	}
	.chart_wrapper input, .chart_wrapper-2 input, , .chart_wrapper-3 input  {
		opacity: 0;
	}
  
  .payments {
    .payment-details {
      th {
        background: rgba($warning,0.4);
        border: none;
      }
      td {
        background: rgba($warning,0.2);
        border: none;
      }
      tfoot {
        td {
          font-size: 20px;
          padding: 8px 13px;
          background:$white;
          &.sm {
            font-size: 18px;
            padding: 8px 13px 4px;
          }
        }
      }
    }
    .payment-mothod {
      label {
         font-size: 16px;
      }
      .form-control {
        height: 46px;
        font-size: 18px;
      }
      .cvv {
        margin-top: -28px;
      }
      .total {
        font-size: 30px;
        font-weight: 500;
        color: $white;
        padding: 6px 20px;
        background: $black;
      }
      .payment-btn {
        .btn-success {
          font-size: 30px;
          width: 100%;
        }
      }
      .icons {
        position: absolute;
        right: 0;
        top: 74px;
        margin: -40px -53px 0 0;
      }
      .con {
        display: none;
      }      
      .con2 {
        display: none;
      }
      .payment-option {
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        label {
          font-size: 20px;
          border:1px solid rgba($grey,0.2);
          text-align:center;
          padding: 15px 7px;
          width: 49.8%;
          min-height: 150px;
          float: left;
          img {
            margin-top: 10px;
            &.img-responsive {
              display: inline-block;
            }
          }
        }
      }
    }
    &.details {
     /* margin-bottom: 30px;*/
      padding-bottom: 28px;
      h3 {
        font-size: 20px;
        margin: 20px 0 20px 15px;
      }
      p {
        &.subscription {
          font-size: 16px;
          margin-left: 16px;
        }
      }
      .select-card {
        margin: 0 15px 15px;
        /*padding: 12px 20px;*/
        border: 1px solid rgba($grey,0.2);
        img {
          width: 60px;
          float: left;
          margin: 15px 15px 0 0;
        }
        h4 {
          font-size: 24px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 5px;
          span {
            font-size: 18px;
            font-weight: 400;
            color: $black;
            padding: 0;
            background: none;
            &:after {
              display: none;
            }
          }
        }
        p {  
          clear: both;  
          .label {
            background: $ash;
            color: $success;
          }        
          a {
            margin-left: 18px;
            color: $grey;
          }
        }
        h5 {
          font-size: 18px;
          margin-bottom: 30px;
        }
        &:hover {
          border: 1px solid $success;
        }
        &.active {
          border: 3px solid $success;
          .label {
            background: $success;
          }
        }
        input[type='radio'] {
          display: none;
        }
        input[type="checkbox"], input[type="radio"] {
          box-sizing: border-box;
          padding: 0;
        }
        .input[type="checkbox"]:checked + label.label-cc, input[type="radio"]:checked + label.label-cc {
          width: 100% !important;
        }
        input[type="checkbox"] + label.label-cc, input[type="radio"] + label.label-cc {
          background: none;
          padding: 28px 10px 5px 21px;
          font-size: 1.8em;
          width: 100% !important;
          color: #5f5f5f;
          margin-bottom: -5px;
          a {
            font-size: 15px;
          }
        }
        input[type="radio"]:checked + label {
          background: $success;
          color: #fff;
          -moz-box-shadow: inset 0px -2px 5px #2d792d;
          -webkit-box-shadow: inset 0px -2px 5px #2d792d;
          box-shadow: inset 0px -2px 5px #2d792d;
          margin-bottom: -5px;
        }
      }
      .btn-success {
        margin-left: 15px;
      }
      .switch {
         margin-left: 30px;
         .pull-left {
            margin-left: -27px;
            margin-top: 5px;
         }
         .pull-right {
            margin-right: -27px;
            margin-top: 5px;
         }
      }
      &.select-type {
        .select-card {
          margin: 0 15px 0;
          border: none;
          text-align: center;
          a {
            font-size: 18px;
            font-weight: 500;
            padding: 12px 20px;
            border: 3px solid rgba(0,0,0,0.2);
            display:block;
            text-align: center;
            &:hover, &.active {
              color: $white;
              background: $success;
              border: 3px solid $success;
            }
          }
          img {
            width: inherit;
            float: none;
            margin: 0;
          }
        }
      }
    }

  }
  
	@media (min-width: 1200px) and (max-width: 1540px) { 
    .col-lg-3 {
      &.inc {
        width: 40%;
      }
    }
    .col-lg-2 {
      &.inv {
        width: 30%;
      }
      &.gst {
        width: 25%;
        margin-top: 0;
        label {
          margin-top: 10px;
        }
      }
      &.staff {
        width: 25%;
        margin-top: 0;
        label {
          margin-top: 10px;
        }
        .carousel-control.left, .carousel-control.right {
          background-image: none;
        }
        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
          margin-top: -168px;
          color: $black;
        }
      }
    }
    .col-lg-3 {
      &.hrs {
        width: 40% !important;
      }
    }
	}
  @media (min-width: 1680px) and (max-width: 2280px) { 
    .col-lg-4 {
      &.inc {
        width: 23.33333%;
      }
    }
    .col-lg-2 {
      &.inv {
        width: 16.66667%;
        margin-left: 21px;
        margin-right: 21px;
      }
      &.gst {
        width: 15.36667%;
        margin-top: 240px;
        label {
          margin-top: 10px;
        }
      }
      &.staff {
        width: 15.36667%;
        margin-top: 240px;
        label {
          margin-top: 10px;
        }
        .carousel-control.left, .carousel-control.right {
          background-image: none;
        }
        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
          margin-top: -168px;
          color: $black;
        }
      }
    }
  }
  @media screen and (min-width: 769px) {
    .carousel-indicators {
      bottom: 20px;
      display: none;
    }
  }
  @media (min-width: 2281px) and (max-width: 2640px) { 
    .col-lg-3 {
      &.inc {
        width: 20% !important;
      }
    }
    .col-lg-2 {
      &.inv {
        width: 16.66667%;
        margin-left: 21px;
        margin-right: 21px;
      }
      &.gst {
        width: 20.38667%;
        margin-top: 240px;
        label {
          margin-top: 10px;
        }
      }
      &.staff {
        width: 20.38667%;
        margin-top: 240px;
        label {
          margin-top: 10px;
        }
        .carousel-control.left, .carousel-control.right {
          background-image: none;
        }
        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
          color: $black;
        }
      }
    }
    .col-lg-3 {
      &.hrs {
        width: 20% !important;
      }
    }
  }
}

/*************************
***** Invoice Style ******
**************************/

.invoice {
	.sidebar-nav {
	  margin-top: 13px;
		margin-bottom: 50px;
	}
	.default-tab {
		margin: 20px 0 18px 0;
	}
}
.create-inv {
	.table {
		td {
			vertical-align: middle;
			.form-control, ul {
				margin-bottom: 0;
			}
			input {
				text-align: right;
			}
		}
	}
}
.date-range {
	background: $ash;
	padding: 12px;
}
/*.well {
	width: 55.5%;
	position: relative;
	overflow: hidden;
	margin-left: 15px;
	margin-bottom: 0;
}*/
summary {
	font-weight: 700;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 0;
	.select-year {
		width: 100px;
		height: 32px;
		margin: -6px 0 0px 0;
		padding: 6px 10px;
		float: right;
		clear: both;
		position: relative;
		z-index: 99;
	}
}
/*************************
***** Timesheet Style ******
**************************/
.timesheet {		
	h6 {
		font-size: 16px;
		font-weight: 700;
	}
	.col-md-4 {
		width: 33.33333%;
	}
	&.accounts {
		.content {
			padding: 30px;
			&.date-range {
				background: $ash;
				padding: 12px;
			}
		}
	}
	.date-range {
		background: $ash;
		padding: 12px;
	}
	.well {
		width: 55.5%;
		position: relative;
		overflow: hidden;
		margin-left: 15px;
		margin-bottom: 0;
	}
	summary {
		font-weight: 700;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 0;
	 	.select-year {
			width: 100px;
			height: 32px;
			margin: -6px 0 0px 0;
			padding: 6px 10px;
			float: right;
			clear: both;
			position: relative;
			z-index: 99;
		}
	}
	.table {
		 tbody {
			 tr {
					td {
						padding: 7px 13px;
						&.tasks, &.time {
							vertical-align: middle;
							ul {
								font-weight: 700;
								margin: 0 0 0 0;
								padding: 0; 
								li {
									list-style-type: none;
									ol {
										margin-top: 4px;
                    margin-left: 13px;
                    padding: 0;
										li {
											font-weight: 400;
											line-height: 22px;
											list-style-type: inherit;
										}
									}
								}
							}
							.form-control {
								width: 75px;
								height: 33px;
								padding: 1px 10px;
								margin-bottom: 0;
								text-align: center;
							}
						}
            &.tasks {
              vertical-align: top;
            }
						&.total {
							.form-control {
								font-size: 30px;
								width: 100px;
								height: 75px;
								padding: 1px 10px;
								margin-bottom: 0; 
								text-align: center;
							}
						}
					}
			 }
		 }
	}
  .summary {
    h2 {
      color: $black;
      small {
        margin-left: 20px;
      }
    }
  }
}
.list-of-staff {
	margin: 30px 0 20px;
	.col-lg-3 {
		margin-bottom: 15px;
		@media (min-width: 1200px) and (max-width: 1540px) { 
			width: 33%;
		}
		h5 {
			text-align: center;
			margin-bottom: 25px;
		}
	}
	h4 {
		&.modal-title {
			color: $white;
			margin-bottom: 0;
		}
	}
	a {
		font-size: 13px;
		font-weight: 400;
		color: $white;
		background: $black;
		padding: 1px 5px 3px;
		@include border-radius(3px);
	}
}

/*************************
***** Summary Style ******
**************************/
.summary {
	h2 {
		margin-top: 15px;
		small {
			font-size: 15px;
			margin-top: 13px;
		}
	}
	.calendar-control {
		@media (min-width: 1800px) and (max-width: 2000px) {
			
		}
		@media screen and (max-width: $screen-sm) {
			
		}

	}
	.gst {
		width: 50%;
		float: left;
	}
	.graph-bar {
		margin-bottom: 40px;
		h4 {
			margin-top: 0;
		}
	}
  .form-summary {
    .form-group {
      margin-bottom: 7px;
      display: grid;
      .nniicc-dropzoneParent {
        margin: 0 !important;
        .dropzone {
          width: 100% !important;
        }
      }
    }
  }
	
	@media (min-width: 1200px) and (max-width: 1540px) {
		.col-lg-2 {
			width: 32.66667%;
		}
		.col-lg-4 {
    	width: 33.33333%;
		}
		.gst {
			width: 100%;
		}
	}
	
	@media (min-width: 1800px) and (max-width: 2000px) {
		.col-lg-2 {
    	width: 32.66667%;
		}
		.chart_wrapper-2 {
			position: relative;
			margin: 10px auto;
			display: table;
			width: 200px;
			float: left;
			margin-left: 27px;
		}
	}
}

/*************************
***** Graph Style ******
**************************/

$default-delay: .2s;
$bars: 15;
$graph-height: 175px;

// MIXINS

//Horizontal Bar Color Mixin 
@mixin stat-bar($color-dark, $color-light, $direction, $dir-webkit) {
  background-image: -webkit-linear-gradient($dir-webkit, $color-light 0%, $color-light 47%, $color-dark 50%, $color-dark 100%);
  background-image: linear-gradient($direction, $color-light 0%, $color-light 47%, $color-dark 50%, $color-dark 100%);
}
// Animation Mixin 
@mixin bar-animation($time, $dimension) {
  visibility: hidden;
  @if $dimension == width {
    width: 0;
    -webkit-animation: animate-width; 
    -moz-animation: animate-width;
    animation: animate-width;
  }
  @if $dimension == height {
    height: 0;
    -webkit-animation: animate-height; 
    -moz-animation: animate-height;
    animation: animate-height;
  }
  animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -webkit-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -moz-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  animation-duration: $time*2;
  -webkit-animation-duration: $time*2;
  -moz-animation-duration: $time*2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

//STYLES

.bar-chart {

  position: relative;
  margin: 30px auto 20px;
  * {
   box-sizing: border-box; 
  }
  .graph {
    height: 200px;
    position: relative; 
  }
  .bars {
    height: $graph-height;
    padding: 0 2%;
    position: absolute;
    width: 100%;
    z-index: 10; 
  }
  .bar-group {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
    margin-right: 10%;
    &:last-child {
     margin-right: 0; 
    }
    .bar {
      @include bar-animation($default-delay, height);
      box-shadow: 1px 0 2px rgba(0,0,0,.15);
      border: 1px solid #2d2d2d; 
      border-radius: 3px 3px 0 0;
      bottom: 0;
      cursor: pointer;
      height: 0;
      position: absolute;
      text-align: center;
      width: 25%; 
      &:nth-child(2) {
        left: 35%;
      }
      &:nth-child(3) {
        left: 70%;
      }
      span {
       display: none; 
      }
    }
    @for $i from 1 through 15 {
      .bar-#{$i} {
        animation-delay: $default-delay+.1*$i;
        -webkit-animation-delay: $default-delay+.1*$i;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .x-axis {
    bottom: -30px;
    position: absolute;
    /*text-align: center;*/
    width: 100%;
    li {
      float: left;
      font-size: 11px;
      width: 100%;
			color: $black;
      &:last-child {
       margin-right: 0; 
      }
			span {
				float: right;
			}
    }
  }
  .y-axis {
    position: absolute;
    text-align: right;
    width: 100%; 
    li {
      border-top: 1px solid rgba($greymedium,0.2);
      display: block;
      height: $graph-height/4;
      width: 100%;
      span {
        display: block;
        font-size: 10px;
        margin: -10px 0 0 -38px;
        padding: 0 10px;
        width: 40px;  
      }
    }
  }
  .stat-1 {
    @include stat-bar(#cf3a02, #ff4500, to right, left);
  }
  .stat-2 { 
    @include stat-bar(#79a602, #b8f123, to right, left);
  }
  .stat-3 {
    @include stat-bar(#0383a9, #00c5ff, to right, left);
  }
}
