
// Website Analytics


/*************************
*****  ******
*************************/

.analytics {
  .content {
    fieldset {
      position: inherit;
      overflow: inherit;
      .default-tab {
        margin: -13px 0 2px -17px;
        padding: 0;
        display: inline-block;
      }
    }
    padding: 20px;
    .default-tab {
      li {
        display: inline;
        
        &:first-child {
          a {
          }
        }
        a {
          height: 50px;
          font-size: 18px;
          font-weight: 400;
          text-transform: capitalize;
          text-align: left;
          line-height: 16px;
          color: rgba($grey,0.5);
          float: left;
          margin-right: 2px;
          em {
            font-style: inherit;
            color: rgba($grey,0.2);
            text-decoration: none;
          }
          small {
            font-size: 12px;
            text-transform: lowercase;
            display: block;
          }
          span {
            padding-top: 8px;
            display: block;
          }
          &:hover, &.active {
            font-size: 18px;
            font-weight: 400;
            color: $white;
            text-transform: capitalize;
            text-align: left;
            em {
              font-style: inherit;
              color: $orange;
              text-decoration: none;
            }
            small {
              font-size: 12px;
              text-transform: lowercase;
              display: block;
            }
          }
        }

      }
    }
    .col-lg-4, .col-lg-6, .col-md-12, .col-md-3, {
      padding-left: 3px;
      padding-right: 3px;
      margin-bottom: 5px;
    }
    .count {
      span {
        font-size: 40px;
        display: block;
        position: relative;
        width: 140px;
        em {
          font-size: 16px;
          font-weight: 500;
          font-style: inherit;
          position: absolute;
          margin: 11px 0 0 5px;
        }
        small {
          font-size: 13px;
          color: $grey;
          margin: 30px 0 0 5px;
        }
      }
    }
    .wide-block {
      background: rgba($ash,0.7);
      margin: 0 -10px;
      padding: 10px;
      overflow-x: hidden; 
      h2 {
        margin-bottom: 5px;
      }
      .count {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px 15px 0 0;
      }
    }
    .block {
      height: 380px;
      background: rgba($ash,0.7);
      padding: 10px;
      overflow: hidden;
      h2 {
        font-size: 12px;
        text-transform: uppercase;
        color: $black;
        float: left;
        margin: 0;
        padding: 10px 5px 15px;
      } 
      select {
        font-size: 11px;
        float: right;
        margin: 6px 0 0 0;
        padding: 2px 5px;
        background: $ash;
        position: relative;
        z-index: 9999;
      }
      &.tabular {
        h2 {
          font-size: 12px;
          text-transform: uppercase;
          color: $black;
          margin: 0;
          padding: 10px 5px 15px;
        }
        .table {
          border: none;
          thead {
            th {
              font-size: 11px;
              font-weight: 400;
              background: none;
              padding: 5px;
              vertical-align: middle;
            }
          }
          tbody {
            td {
              font-size: 11px;
              padding: 4px;
              &.nos {
                font-size: 15px;
                text-align: center;
              }
              &.success {
                background: none;
                color: #3AD703;
              }
              &.danger {
                background: none;
              }
              .ellipsis {
                width: 160px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;              
              }
            }
          }
        }
      }
      .count {
        float: left;
        clear: both;
        margin: -20px 0 0 5px;
      }
      .chart {
        margin-top: 40px;
      }
    }
    .score {
      background: $orange;
      padding: 0;
      text-align: center;
      span {
        font-size: 110px;
        color: $white;
        letter-spacing: -2px;
      }
      p {
        font-size: 20px;
        color: $grey;
        background: #f5f5f5;
        @include border-radius(3px);
        margin: -10px 10% 25px;
        padding: 8px 0;
      }
      a {
        color: $white;
        border-top: 1px solid $white;
        display: block;
        margin-top: 15px;
        padding: 15px 0;
      }
    }
    .count {
      span {
        font-size: 40px;
        display: block;
        width: 185px;
        text-align: left;
        position: relative;
        margin: 0 auto;
        em {
          font-size: 16px;
          font-weight: 500;
          font-style: inherit;
          position: absolute;
          margin: 11px 0 0 5px;
        }
        small {
          font-size: 13px;
          color: $grey;
          margin: 30px 0 0 5px;
        }
      }
    }
    .performance {
      background: $ash;
      margin-top: 5px;
      padding: 20px;
    }
    @media (min-width: 769px) and (max-width: 1366px) { 
      .col-lg-4 {
        width: 50%;
      }
      .col-lg-6 {
        width: 100%;
      }
    }
  }
  &.audit {
    .content {
      padding-bottom: 40px;
    }
   .tooltip {
      font-family: $font-secondary !important;
      font-size: 5px !important;
      line-height: 14px;
    }
    hr {
      margin: 30px 0;
      border-top: 1px solid #ddd;
    }
    h3 {
      font-size: 30px;
      margin: 0 0 30px 0;
      z-index: 9999;
    }
    %tooltip {
      font-size: 18px;
      z-index: 99;
      position: relative;
      margin-left: 8px;
      color: $orange;
      &:hover {
        color: $black;
      }
    }
    .total-score {
      background: rgba($ash,0.5);
      margin-bottom: 20px;
      padding: 30px 0 0 0;
      .chart_wrapper { 
        width: 200px;
        margin: 0 auto;
        span {
          font-weight: bold;
          position: absolute;
          margin: -111px 0 0 127px;
        }
      }
      .chart-score {
        width: 100%;
        min-height: 500px;
        margin: -150px 0 -150px;
        @media (min-width: 1500px) and (max-width: 2800px) {
          margin: -80px 0 -70px;
        }
      }
      .center-label {
        position: absolute;
        top: 21%;
        width: 100%;
        height: 50px;
        vertical-align: middle;
        display: table;
        text-align: center;
        font-size: 36px;
        color: #000;
      }
      i {
        @extend %tooltip;
      }
      #piechart {
        width: 100%;
        min-height: 350px;
        margin: -70px 0 -70px 0!important;
        position: relative;
        z-index: 0;
        @media (min-width: 1500px) and (max-width: 2800px) {
          min-height: 500px;
          margin: -50px 0 -46px;
        }
      }
      .count {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: $info;
        margin: -25px 0 20px 0;
      }
      em {
        font-style: normal;
        background: $grey;
        color: $white;
        padding: 2px 5px;
        position: absolute;
        margin: -77px 0 0 85px;
      }
    }
    .robots {
      background: rgba($ash,0.5);
      padding: 15px;   
      h4 {
        small {
          display: block;
        }
      }
      i {
        @extend %tooltip;
      }
      hr {
        margin: 25px 0 20px;
      }
    }
    .site-result {
      margin-top: 28px;
      h3 {
         margin-bottom:0;
      }
      i {
        @extend %tooltip;
      }
      h5 {
        font-size: 40px;
        text-align: center;
        span {
          background: $ash;
          margin-left: 8px;
          padding: 1px 8px;
          display: inline-grid;
          @include border-radius(8px);
          a {
            font-size: 14px;
            color: $grey;
          }
        }
        a {
          font-size: 50px;
          font-weight: 600;
          &:hover {
            &.danger {
              color:#A00508;
            }
            &.warning {
              color:#E3A200;
            }
            &.info {
              color:#116DAF;
            }
          }
        }
      }
      #curve_chart, #curve_chart2, #curve_chart3 {
        width: 100%;
        min-height: 350px;
      }
    }
    .thematic-score {
      h3 {
        text-align: left;
        margin: 0 15px 30px 15px;
      }
      .score {
        background: $ash;
        border: 1px solid #ddd;
        margin-bottom: 30px;
        padding-bottom: 20px;
        h4 {
          text-align: left;
          padding-left: 20px;
          span {
            font-size: 12px;
            color: $white;
            padding: 1px 8px 2px 5px;
          }
        }
        span {
          font-size: 30px;
          font-weight: 600;
          color: $black;
          margin-bottom: 15px;
          img {
            width: 45px;
            margin-right: 10px;
          }
          &.percentage {
            position: absolute;
            top: 55px;
            left: 130px;
          }
        }
        .btn {
          font-size: 9px;
          min-width: inherit;
          display: table;
          padding: 5px 10px 3px;
          @include border-radius(0);
          border: none;
           &:hover {
             background: $danger;
             border-color: $danger;
           }
        }
      }
      .chart-score {
        width: 100px;
        height: 110px;
        margin: -15px 0 -26px;
        text-align: left;
      }
    }
    .top-issues {
      h3 {
        color: $black;
        text-align: left;
        margin: 0 15px 30px 0;
      }
      i {
        @extend %tooltip;
      }
      label {
        font-size: 16px;
        font-weight: 600;
      }
      .col-lg-10 {
        margin-bottom: 15px;
      }
      .progress {
        height: 8px;

      }
      .val {
        font-size: 13px;
        font-style: normal;
        position: relative;
        margin-bottom: 10px;
        display: block;
       }
    }
  }
  
}
.issues-info {
  .nav-tabs {
    li {
      a {
        font-weight: 500;
        color: $black;
      }
    }
  }
  margin-top: 20px;
  h3 {
    margin: 35px 0;
    padding-bottom: 15px;
  }
  .danger {
    color: $black;
    h3 {
      color: $danger;
      border-bottom: 2px solid $danger;
    }
    .fa {
      font-size: 40px;
      color: $danger;
    }
  }
  .warning {
    color: $black;
    h3 {
      color: $warning;
      border-bottom: 2px solid $warning;
    }
    .fa {
      font-size: 40px;
      color: $warning;
    }
  }
  .notice {
    color: $black;
    h3 {
      color: $info;
      border-bottom: 2px solid $info;
    }
    .fa {
      font-size: 40px;
      color: $info;
    }
  }
}