
// Campaign

.campaign, .data {
  .content {
    padding: 20px;
  }
  h3 {
    text-align: left;
    margin: 35px 0 25px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid $ash;
  }
  .total-budget {
    h4 {
      font-size: 71px;
      text-align: left;
      margin-bottom: 40px;
      span {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        background: $danger;
        display: table;
        @include border-radius(3px);
        margin: 8px 0 0 4px;
        padding: 4px 10px 6px;
      }
    }
    img {
      float: left;
      margin: 10px 15px 0 0;
    }
  }
  .progress-wrapper {
    background: $ash;
    margin-bottom: 25px;
    padding: 15px;
    h2 {
      font-size: 24px;
      color: $black;
      margin: 5px 0 20px 3px;
    }
    label {
      font-size: 14px;
      font-weight: 400;
    }
    .progress {
      height: 6px;
      line-height: 5px;
      margin-bottom: 10px;
      .val {
        right: -30px;
      }
    }
  }
  .data-breakdown {
    padding: 15px;
    overflow: hidden;
    border: 2px solid $ash;
    h2 {
      font-size: 24px;
      color: $black;
      margin: 5px 0 20px 3px;
      text-align: center;
    }
    #piechart {
      width:600px;height:350px;margin-left: -110px;
    }
  }
  .schedule {
    min-height: 435px;
    padding: 15px;
    background: $ash;
    h2 {
      font-size: 24px;
      color: $black;
      margin: 5px 0 20px 3px;
    }
    .table {
      display: inline-table;
      margin-top: 10px;
      td {
        font-size: 13px;
      }
    }
  }
  .channel {
    background: $ash;
    text-align: center;
    min-height: 100px;
    padding: 10px;
    h5 {
      text-transform: uppercase;
    }
    .view {
      font-size: 12px;
      font-weight: 400;
      color: #ff9904;
    }
    &.add {
      padding: 35px 0;
      .fa {
        font-size: 30px;
      }
    }
    &.sms {
      .fa {
        font-size: 60px;
        color: #0a4a85;
      }
    }
    &.email {
      .fa {
        font-size: 60px;
        color: #ff9904;
      }
    }
    &.phone {
      .fa {
        font-size: 60px;
        color: #17a7d1;
      }
    }
  }
  .campaign-rules {
    min-height: 150px;
    margin-bottom: 25px;
    padding: 20px;
    display: block;
    border: 2px solid $ash;
    h5 {
      font-size: 24px;
      border: none;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

