
// Data

.data {
  .sidebar {
    .block {
      margin-bottom: 25px;
      padding: 10px 25px;
      background: #f1f1eb;
      position:relative;
      overflow: hidden;
      h2 {
        font-size: 24px;
        color: $black;
        margin-bottom: 0;
      }
      img {
        float: right;
        margin-top: -22px;
        margin-right: -10px;
      }
      span {
        font-size: 72px;
        font-weight: 500;
      }
      a {
        float: right;
        clear: both;
        display: block;
        color: $black;
      }
    }
  }
  .data-breakdown {
    padding: 25px 15px;
    #piechart {
      margin-top: -45px;
    }
    h2 {
      position: relative;
      z-index: 9999;
    }
    h3 {
      font-size: 18px;
      margin: 0 0 0 20px;
      border: none;
    }
    ul {
      margin-left: -18px;
      li {
        list-style-type: none;
        span {
          float: right;
          padding-right:30px;
          a {
            color: $orange;
          }
        }
      }
    }
  }
  .otherside {
    background: #f1f1eb;
    padding: 15px;
    text-align: center;
    .block {
      margin: 7px 0 18px;
      h4 {
        font-size: 26px;
        margin-bottom: 5px;
      }
      a {
        color: $info;
      }
    }
  }
  .data-list {
    h4 {
      font-size: 15px;
    }
  }
}

