
// Invoice

.invoice {
	.sidebar-nav {
	  margin-top: 13px;
		margin-bottom: 50px;
	}
	.default-tab {
		margin: 20px 0 18px 0;
	}
}
.create-inv {
	.table {
		td {
			vertical-align: middle;
			.form-control, ul {
				margin-bottom: 0;
			}
			input {
				text-align: right;
			}
		}
	}
}
