
// Personal Assistant

/*************************
***** Access Style ******
**************************/
.access {
	.row {
		margin-bottom: 25px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.table {
		tbody {
			td {
				padding: 10px;
				&.icon {
					width: 40px;
					text-align: center;
				}
				.fa {
					font-size: 25px;
				}
				.pull-right {
					.fa {
						font-size: 15px;
						margin-left: 8px;
					}
				}
			}
		}
	}
	.btn {
		margin-top: -15px;
	}
}

/*************************
***** File Manager Style ******
**************************/
.file-manager {
	h3 {
		text-align: left;
		margin: 20px 0;
	}
	.btn-default {
		&.pull-right {
			margin-top: -15px;
		}
	}
	.tabs-left {
		border-bottom: none;
		padding-top: 2px;
		border-right: 1px solid #ddd;
		> li {
			float: none;
			margin-bottom: 2px;
			margin-right: -1px;
			&.active > a {
				color: $black;
				border-bottom-color: #ddd;
				border-right-color: transparent;
				&:hover, &:focus {
					border-bottom-color: #ddd;
					border-right-color: transparent;
				}
			}
			> a {
				border-radius: 4px 0 0 4px;
				margin-right: 0;
				display: block;
				&:hover {
					color: $black;
				}
			}
			span {
				font-size: 13px;
				float: right;
				margin: -30px 10px 0 0;
				position: relative;
				z-index: 999;
				cursor: pointer;
			}
			.fa-folder {
				margin-right: 4px;
			}
			&.active {
				.fa-folder {
					&:before {
						content: "\f07c";
					}
				}
			}
		}
	}
	.tab-content {
		&.files {
			.col-md-3 {
				text-align: center;
				margin-bottom: 20px;
				a {
					.fa {
						font-size: 22px;
					}
					&:hover {
						font-weight: 600;
						color: $black;
						.fa {
							font-weight: 600;
						}
					}
				}
			}
		}
		hr {
		 	margin: 10px 20px 30px;
		}
	}
}
