
// Common

body {
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.471;
	color: $default-txt;
	background: $purlwhite;
}
html {
 position: relative;
  min-height: 100%;
}
#wrapper {
	padding-right: 0;
	@include transition(0.5s);
}
/*.modal-open[style] {
	padding-right: 0px !important;
}
.modal-open {
	.modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
	.modal-dialog {
		z-index: 9999;
	}
	.modal {
    padding-right: 0 !important;
    z-index: 99999;
}
}*/
p {
	color: $default-txt;
	font-weight: 400;
}
.clear {
	clear: both;
}
.row {
	margin-right: -10px;
	margin-left: -10px;
}
h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
a, .btn {
	color: $default-txt;
	text-decoration: none;
	@include transition(0.3s);
}
a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: 0;
}
a:hover, a:focus {
	color: $black;
	text-decoration: none;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.top-space {
	margin-top: 15px;
}
.center-block {
	margin: 0 auto;
	float: none;
	text-align: center;
}
hr {
	margin: 30px 20px;
}
.scrollup {
	position: fixed;
	bottom: 15px;
	right: 15px;
	text-align: center;
	display: none;
	color: $white;
	vertical-align: middle;
	border-radius: 3px;
	background-color: $danger;
	-webkit-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite;
	padding: 10px 17px;
	z-index: 9999;
}

/*************************
***** Side Panel ******
**************************/
#wrapper {
	margin-top: 92px;
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
	&.toggled, &.toggled2, &.toggled3 {
    padding-left: 250px;
    overflow: hidden;
		#sidebar-wrapper {
			width: 215px;
		}
		#sidebar-wrapper2, #sidebar-wrapper3 {
			width: 215px;
		}
		#page-content-wrapper {
			position: relative;
			margin-right: 0px;
		}
	}
}
#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
	@media screen and (max-width: $screen-sm) {
		position: relative;
	}
}
#sidebar-wrapper {
  z-index: 99;
  position: fixed;
  left: 252px;
  width: 0;
  height: 100%;
	margin-top: -10px;
  margin-left: -253px;
  overflow-y: auto;
  background: $black;
	@include transition(0.5s);
}

#sidebar-wrapper2, #sidebar-wrapper3 {
  z-index: 99;
  position: fixed;
  right: 252px;
  width: 0;
  height: 100%;
	margin-top: -10px;
  margin-right: -253px;
  overflow-y: auto;
  background: $ash;
	@include transition(0.5s);
	.form-wrapper {
		padding: 20px 15px 15px;
		h3 {
			font-size: 18px;
			white-space: nowrap;
			margin: 2px 0 15px;
		}
		label {
			white-space: nowrap;
		}
		.btn {
			width: 100%;
		}
	}
}

@media(min-width:769px) {
	#wrapper {
		padding-left: 215px;
		&.toggled #sidebar-wrapper {
			width: 215px;
		}
		&.toggled-2 #sidebar-wrapper {
			width: 73px;
			&:hover {
				width: 73px;
			}
		}
		&.toggled #page-content-wrapper {
			position: relative;
			margin-right: 0;
			padding-left: 215px;
		}
		&.toggled2 #page-content-wrapper, &.toggled3 #page-content-wrapper {
			position: relative;
			margin-right: 0;
			padding-right: 215px;
		}
		&.toggled-2 #page-content-wrapper, &.toggled-3 #page-content-wrapper  {
			position: relative;
			margin-right: 0;
			margin-left: -140px;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			width: 112%;
		}
		.toggled {
			padding-left: 0;
		}
		&.toggled2 #page-content-wrapper, &.toggled3 #page-content-wrapper {
			margin-left: -41px !important;
		}
		&.toggled2.toggled-2 #page-content-wrapper, &.toggled3.toggled-3 #page-content-wrapper {
			margin-left: -169px !important;
		}
	}
				
	#sidebar-wrapper {
		width: 215px;
	}
	#page-content-wrapper {
		padding: 30px 30px 20px;
		position: relative;
		min-height: 480px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
@media(min-width:1600px) {
	#wrapper {
		&.toggled-2 #page-content-wrapper {
			width: 107%;
		}
	}
}
/*************************
***** Container Style ******
**************************/
.container-wrapper {
	padding-bottom: 40px;
  h2 {
    font-size: 30px;
    color: #676767;
    margin-bottom: 30px;
    position: relative;
  }
	h3 {
		color: $black;
		text-align: center;
		/*margin-bottom: -30px;*/
	}
  &.container legend {
    font-size: 18px;
    font-weight: 500;
    color: inherit;
    padding-bottom: 17px;
  }
	.title, .form-wrapper {
		h3 {
			font-size: 18px;
			font-weight: 600;
			color: #1f4e79;
			text-align: center;
			line-height: 25px;
			text-transform: uppercase;
			span {
				font-size: 18px;
				font-weight: 700;
				background: #179a88;
				margin-right: 10px;
				padding: 10px;
				color: #fff;
				border-radius: 3px;
			}
		}
	}
}
.content {
  padding: 30px;
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  width: 100%;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  box-shadow: 1px 2px 3px #eee;
	@include opacity(1.0);
	@include transition(0.5s);
	@include border-radius(3px);
	position: relative;
}
.content-block {
  width: 100%;
	margin-bottom: 20px;
	padding: 0;
  background: $white;
	position: relative;
  border: 1px solid #eee;
  box-shadow: 1px 2px 3px #eee;
	@include opacity(1.0);
	@include transition(0.5s);
	@include border-radius(3px);	
	.info {
		padding: 30px;
		.well {
			margin: 0 5px 15px;
			@include border-radius(0);	
		}
	}
}
.title {
	margin: 0;
  padding: 9px 16px 13px;
	background: $ash;
  h3 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
  }
  h2 small {
    margin-left: 10px;
  }
  span {
    color: #BDBDBD;
  }
	a {
		&.btn {
			min-width: 120px;
			float: right;
			margin-top: -2px;
			padding: 4px 5px;
		}
	}
}


/*************************
***** Pagination Style ******
**************************/
.pagination {
	margin: 20px 0;
	float: right;
	li {
		span {
			border: none;
		}
		a {
			color: $black;
			padding: 6px 12px;
			&:hover, &.active, &:focus {
				font-weight: 400;
				color: $black;
			}
		}
		&.active {
			a {
				background: $default-bg;
				border-color: $default-bg;
				&:hover, &:focus, &:active {
					background: $default-bg;
					border-color: $default-bg;
				}
			}
		}
		
	}
}

/*.pagination {
	padding: 20px 0;
	text-align: right;
	li {
		color: $default-bg;
		padding: 5px 12px;
		text-decoration: none;
		cursor: pointer;
		&:after {
			position: absolute;
			content: ".";
			font-size: 18px;
			padding: 0 5px;
			color: $default-bg;
			margin: -7px 6px;
		}
		&.next {
			line-height: 0; 
			font-size: 0;
			color: transparent; 
			&:after {
				content: ">";
				font-size: 18px;
				margin: 8px -3px;
			}
		}
		&.previous {
			line-height: 0; 
			font-size: 0;
			color: transparent; 
			&:after {
				content: "<";
				font-size: 18px;
				margin: 8px -3px;
			}
		}
		&.last {
			line-height: 0; 
			font-size: 0;
			color: transparent; 
			&:after {
				content: ">>";
				font-size: 18px;
				margin: 9px -3px;
			}
		}
		&.first {
			line-height: 0; 
			font-size: 0;
			color: transparent; 
			&:after {
				content: "<<";
				font-size: 14px;
				margin: 9px -8px;
			}
		}
		&.current {
			font-weight: 700;
		}
	}
}*/
	
/*************************
***** Breadcrumb Style ******
**************************/
.breadcrumb {
	margin: 0 0 13px 5px;
	padding: 0 0;
	background: none;
	li {
		a {
			font-weight: 400;
			color: $greymedium;
		}
		&.active {
			font-weight: 600;
			color: $default-bg;
		}
		select {
			padding: 5px;
			@include border-radius(3px);
		}
	}
}

/*************************
***** Default Message/Alerts ******
**************************/
.alert {
	font-size: 18px;
	font-weight: 400;
	padding: 0;
	@include border-radius(3px);
	position: relative;
	overflow: hidden;
	h3 {
		font-size: 18px;
		color: $white;
		padding: 0 20px;
	}
	p {	
		font-size: 14px;
		color: $white;
		padding: 10px;
	}
	&.alert-success {
		background-color: $success;
		border-color: $success;
	}
	&.alert-warning {
		background-color: $warning;
		border-color: $warning;
	}
	&.alert-danger, &.alert-error {
		background-color: $danger;
		border-color: $danger;
	}
	&.alert-info {
		background-color: $info;
		border-color: $info;
	}
	&.alert-successbright {
		background-color: $successbright;
		border-color: $successbright;
	}
}
.success {
	color: $success;
}
.warning {
	color: $warning;
}
.danger {
	color: $danger;
}
.info {
	color: $info;
}
.successbright {
	color: $successbright;
}
.bg-success {
	color: $white;
	background-color: $success;
}
.bg-warning {
	background-color: $warning;
}
.bg-danger {
	background-color: $danger;
}
.bg-info {
	background-color: $info;
}
.bg-successbright {
	background-color: $successbright;
}


/*************************
***** Tabs ******
**************************/
.default-tab {
	margin: 0 0 20px 0;
	padding: 0;
	li {
		display: inline;
		text-transform: uppercase;
		a {
			font-size: 16px;
			font-weight: 600;
			padding: 8px 15px;
			background: $ash;
			min-width: 150px;
			display: inline-block;
			text-align: center;
			&:hover, &.active {
				color: $white;
				background: $black;
				text-decoration: none;
			}
		}
	}
}

/*************************
***** Tooltip ******
**************************/
.tooltip {
  z-index: 9999;
  &.right .tooltip-arrow {
    border-right-color: $black;
  }
}
.tooltip-inner {
  font-size: 13px;
  background: $black;
}

/*************************
*****Modal Box Style ******
**************************/
.form-model {
  .modal-dialog {
    margin: 10% auto;
  }
  .modal-body {
    padding: 40px;
    position: relative;
    overflow: hidden;
  }
}
.modal-open {
	header {
		padding-right: 32px;
	}
	header h2 {
		padding-right: 17px;
	}
}
.modal-body fieldset {
  border: 1px solid #eee;
  padding: 30px;
}

.form-model .modal-body legend {
  font-size: 22px;
  font-weight: 500;
  width: inherit;
  border-bottom: #ddd;
  padding: 0 10px;
  span {
    color: $default-bg;
  }
}

.modal-content {
  border-radius: 0;
  .control-label {
    text-align: right;
  }
  .radio-group .control-label {
    display: inline-flex;
  }
}

.modal-header {
  background: $default-bg;
  h4 {
    font-size: 24px;
    color: #fff;
  }
  .close {
    color: #fff;
		margin-top: 3px;
    &:hover {
      color: #eee;
			@include opacity(1.0);
    }
  }
}
.modal-footer {
  background: $ashlight;
	text-align: center;
}
.modal-xl {
	.modal-body {
		padding: 25px 70px 10px;
		.carousel-control {
			width: 0;
			color: $grey;
			&.left, &.right {
				background: none;
			}
			.glyphicon-chevron-left, .glyphicon-chevron-right {
				top: 0;
			}
			.glyphicon-chevron-left,  {
				width: 50px;
    		height: 50px;
				font-size: 25px;
				line-height: 50px;
				margin-left: -69px;
				background: $ashlight;
				margin-top: -2px;
				@include opacity(1.0);
			}
			.glyphicon-chevron-right {
				width: 50px;
    		height: 50px;
				font-size: 25px;
				line-height: 50px;
				margin-right: -69px;
				background: $ashlight;
				margin-top: -2px;
				@include opacity(1.0);
			}
		}
	}
}
@media (min-width :$screen-sm) {
	.modal-xl {
		width: 90%;
		max-width: 1200px;
	}
}

/*************************
***** Progress ******
**************************/
.progress {
  height: 20px;
	line-height: 19px;
	margin-bottom: 5px;
}
.progress .skill {
	font-size: 10px;
	color: $black;
	font-weight: 600;
  line-height: 20px;
  padding: 0;
  margin: 0 0 0 5px;
  text-transform: uppercase;
}
.progress .val {
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	color: #000;
	position: relative;
	z-index: 9;
	right: -15px;
	position: absolute;
}

.progress-bar {
	line-height: 19px;
  text-align: left;
  transition-duration: 3s;
}
