
// Footer

footer {
	background: $ashlight;
	padding: 30px 20px 20px;
 	/*position: relative;*/
  bottom: 0;
  width: 100%;
	z-index: 999;
	p {
		text-align: center;
		color: $greymedium;
		span {
			font-weight: 600;
		}
		a {
			color: $greymedium;
			text-align: center;
		}
	}
	@media screen and (max-width: $screen-sm) {
		position: relative;
	}
}