
// Form 

/*************************
***** Form Style ******
**************************/
.form-group {
	margin-bottom: 8px;
/*	position: relative;
  overflow: hidden;*/
	.status {
		.pull-right {
			i {
				font-style: normal;
				font-weight: 600;
				text-transform: uppercase;
				background: #fed45b;
				padding: 2px 8px;
				@include border-radius(3px);
				&.completed {
					color: $white;
					background: $danger;
				}
			}
		}
	}
}
.form-control {
  height: 39px;
  padding: 7px 10px;
	@include border-radius(0);
  &.disabled {
    background: #f9f9f9;
  }
	&:focus {
		color: $black;
		border-color: $black;
		box-shadow: none !important;
	}
	&.lg {
		font-size: 18px;
		font-weight: 700;
	}
}
.form-wrapper {  
	position: relative;
  overflow: hidden;
  padding: 10px 0 10px 0;
  h4 {
    font-weight: 400;
    margin-bottom: 25px;
    padding-left: 19px;
    color: $default-txt;
    span {
      font-size: 18px;
      font-weight: 700;
      background: #179a88;
      margin-right: 10px;
      padding: 7px 10px;
      color: $white;
      border-radius: 3px;
    }
  }
  .required {
    font-size: 14px;
		font-weight: 600;
    color: $danger;
    position: absolute;
    right: 0;
    top: 8px;
    /*padding: 19px 0px;*/
  }
	.control-label {
		em {
			font-size: 14px;
			font-style:inherit;
			font-weight: 600;
			color: $danger;
		}
	}
  .alert-warning {
    &.highlight {
      padding: 17px 0 9px;
      margin-bottom: 10px;
    }
  }
}
.bootstrap-select {
  .btn {
    padding: 8px 10px;
  }
  .btn-default {
    background: inherit;
    color: inherit;
    border-color: $greymedium;
    &:hover, &:focus {
      color: $grey;
      background: none;
    }
  }
  .filter-option {
    small {
      font-size: 13px;
      text-transform: capitalize;
      display: block;
      white-space: pre-wrap;
      &.text-muted {
        &:hover {
          color: $grey;
        }
      }
      &:hover {
        color: $ash;
        small {
          color: $ash;
        }
      }
    }
  }
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
}
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small {
  color: $white;
  &:hover {
    color: $grey !important;
  }
}
.bootstrap-select.btn-group .dropdown-menu li a {
  small {
    color: $grey;
    &:hover {
      color: $grey !important;
    }
    &.text-muted {
      color: $infodark;
    }
  }
}
well {
  margin: 0 9px 10px;
  &.color {
    background: #f7f3f0;
    padding: 10px 19px 19px;
    border: none;
    position: relative;
    overflow: hidden;
  }
  &.color-warn {
    background: rgba(249, 13, 13, 0.05);
    padding: 10px 19px 0;
  }
  &.color {
    .row {
      margin-bottom: 0;
    }
    .form-group {
      position: relative;
      overflow: hidden;
    }
  }
}
span.section {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
.form-horizontal {
	.control-label, label {
		font-weight: 400;
		text-align: left;
		padding-top: 6px;
		display: inline-flex;
	}
	.form-group {
		margin-right: 0;
		margin-left: 0;
		.sub-row {
			margin-top: 10px;
			margin-left: -15px;
			a {
				padding-top: 10px;
				display: block;
			}
		}
    ol {
      margin: 6px 0 0 -1px;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline;
        padding-right: 15px;
        color: $orange;
      }
    }
    .pull-right {
      span {
        line-height: 38px;
        display: inline-block;
        padding: 0 10px 4px 10px;
      }
      &.re-assign {
        margin-right: 25px;
      }
    }
	}
	.form-group.action-panel {
		margin-top: 20px;
	}
	.form-group ul, .form-group .input-group {
		margin-bottom: 0;
	}
}
.logged-time {
  font-size: 22px;
  font-weight: 600;
  color: $black;
  background: #fed45b;
  @include border-radius(2px);
  padding: 3px 9px 5px 9px;
}
em {
  &.logged-time {
    font-size: 14px;
    font-style: inherit;
    float: right;  
  }
}
/*validate*/
.invalid-form-error-message {
	margin-top: 8px;
	padding: 5px;
	&.filled {
		border-left: 2px solid #E74C3C;
	}
}
ul.parsley-errors-list {
	font-size: 13px;
	list-style: none;
	color: #E74C3C;
	padding-left: 0;
	/*display: inline-block;*/
}
input, textarea, select {
	&.parsley-error {
		font-size: 13px;
		color: #E85445;
		background: #FAEDEC;
		border: 1px solid #E85445;
	}
	&.parsley-success {
		color: #468847;
		background-color: #DFF0D8;
		border: 1px solid #D6E9C6;
	}
}

/* *********  calender dropdown  **************************** */
.daterangepicker {
  &.dropdown-menu {
    font-size: 11px;
    padding: 0;
    overflow: hidden;
  }
  table.table-condensed thead tr:first-child th {
    line-height: 28px;
    text-align: center;
  }
  table.table-condensed {
    thead tr {
      line-height: 14px;
    }
    tbody tr:first-child td {
      padding-top: 5px;
    }
    th:first-child, td:first-child {
      padding-left: 12px;
    }
    th:last-child, td:last-child {
      padding-right: 12px;
    }
  }
}

.table-condensed > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    padding: 5px 7px;
    text-align: center;
  }
}

.daterangepicker {
  table.table-condensed tbody tr:last-child td {
    padding-bottom: 10px;
  }
  &.opensright .calendar {
    float: right;
  }
  &.openscenter {
    .ranges, .calendar {
      float: right;
    }
  }
  &.opensright .ranges {
    float: none;
  }
  &.dropdown-menu .calendar {}
  table {
    width: 100%;
    margin: 0;
  }
  td, th {
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  td {
    &.off, &.disabled {
      color: #999;
    }
    &.available:hover {
      background: #eee;
      color: #34495E;
    }
  }
  th.available:hover {
    background: #eee;
    color: #34495E;
  }
  td {
    &.in-range {
      background: #E4E7EA;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    &.available + td.start-date {
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
    }
    &.in-range + td.end-date {
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }
    &.start-date.end-date {
      -webkit-border-radius: 4px !important;
      -moz-border-radius: 4px !important;
      border-radius: 4px !important;
    }
    &.active {
      background-color: $danger;
      color: $white;
      &:hover {
        background-color: #2e3192;
        color: $white;
      }
    }
    &.week {
      font-size: 80%;
      color: #ccc;
    }
  }
  th.week {
    font-size: 80%;
    color: #ccc;
  }
  select {
    &.monthselect, &.yearselect {
      font-size: 12px;
      padding: 1px;
      height: auto;
      margin: 0;
      cursor: default;
      border: 1px solid #ADB2B5;
      line-height: 30px;
      border-radius: 0px !important;
    }
    &.monthselect {
      margin-right: 2%;
      width: 56%;
    }
    &.yearselect {
      width: 40%;
    }
    &.hourselect, &.minuteselect, &.ampmselect {
      width: 50px;
      margin-bottom: 0;
    }
  }
}
.daterangepicker_start_input {
  float: left;
}
.daterangepicker_end_input {
  float: left;
  padding-left: 11px;
}
.daterangepicker {
  th.month {
    width: auto;
  }
  .ranges {
    input {
      font-size: 11px;
    }
    .input-mini {
      background-color: #eee;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #555;
      display: block;
      font-size: 11px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      margin: 0 0 10px 0;
      padding: 0 6px;
      width: 74px;
      &:hover {
        cursor: pointer;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 13px;
      background: #f5f5f5;
      border: 1px solid #f5f5f5;
      color: #536A7F;
      padding: 3px 12px;
      margin-bottom: 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      cursor: pointer;
      &.active, &:hover {
        background: #536A7F;
        border: 1px solid #536A7F;
        color: $white;
      }
    }
  }
  .calendar {
    display: none;
    max-width: 270px;
  }
  &.show-calendar .calendar {
    display: block;
    /*float: left;*/
  }
  .calendar.single .calendar-date {
    border: none;
  }
}
.calendar-date table thead {
  color: $white;
  background: $default-bg;
}
.daterangepicker {
  .ranges {
    text-align: left;
    margin: 4px 0 0 15px;
    button {
      margin: 21px 0 0 0;
    }
    .range_inputs > div {
      float: left;
      &:nth-child(2) {
        padding-left: 4px;
        padding-right: 8px;
      }
    }
  }
  &.opensleft {
    .ranges, .calendar {
      float: left;
      margin: 4px;
    }
  }
}
.form-control-feedback {  
	margin-top: 8px;
  height: 23px;
  color: #bbb;
  line-height: 24px;
  font-size: 15px;
  &.left {
    border-right: 1px solid #ccc;
    left: 9px;
  }
}
.form-control.has-feedback-left {
  padding-left: 45px;
}
/*.datepicker {z-index: 1151 !important;}*/
.daterangepicker.dropdown-menu {
	z-index: 1151 !important;
}
.bootstrap-timepicker-widget.dropdown-menu {
	z-index: 1151 !important;
}

/*----------------------------------- */
/* Button
----------------------------------- */

.btn {
	min-width: 143px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 3px;
}
.btn-sm {
	font-weight: 500;
	text-transform: uppercase;
	padding: 8px 15px;
}
.btn-sm .fa {
	margin-right: 3px;
}
.btn-default {
	background: $danger;
	border-color: $danger;
	color: $white;
}
.btn-grey {
	background: $greymedium;
	border-color: none;
	color: $white;
}
.btn-dark {
	background: $black;
	border-color: none;
	color: $white;
}
.btn-default.sm {
	min-width: inherit;
	text-align: center;
}
.btn-default.sm .fa {
	margin: 0;
	padding: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default:active:hover {
	background-color: $default-bg;
	border-color: $default-bg;
	color: $white;
}
.btn-default .fa, .btn-grey .fa {
	margin-right: 5px;
}
.btn-cancel {
	min-width: 148px;
	background: #b3b3b3;
	border-color: #b3b3b3;
	color: $white;
}
.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel.active {
	background-color: #8e8e8e;
	border-color: #8e8e8e;
	color: $white;
}
.btn-warning {
	background: #f0ad4e;
	border-color: #f0ad4e;
}
.btn-danger {
	background: #d9534f;
	border-color: #d9534f;
}
.btn-special, .logout {
	background: #f26522;
	border-color: #f26522;
	color: $white;
}
.btn-primary {
	background-color: #4FB5D3;
	border-color: #4FB5D3;
	color: $white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #4ba5d3;
	border-color: #4ba5d3;
	color: $white;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-color: #03ab93;
	border-color: #1ABB9C;
	color: $white;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	background-color: #4FB5D3;
	border-color: #4FB5D3;
	color: $white;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	background-color: #d58512;
	border-color: #d58512;
	color: $white;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	background-color: #d43f3a;
	border-color: #d43f3a;
	color: $white;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
	background-color: #394D5F;
	border-color: #394D5F;
	color: $white;
}
.btn-special:hover, .btn-special:focus, .btn-special:active, .btn-special.active, .open .dropdown-toggle.btn-special, .logout:hover, .logout:focus, .logout:active, .logout.active, .open .dropdown-toggle.logout {
	background: #d64804;
	border-color: #d64804;
	color: $white;
}
.custom-notifications {
	position: fixed;
	margin: 15px;
	right: 0;
	float: right;
	width: 400px;
	z-index: 4000;
	bottom: 0;
}
.btn-round {
	border-radius: 30px;
}

/*----------------------------------- */
/* iCheck plugin Flat skin
----------------------------------- */
.icheckbox_flat, .iradio_flat {
	font-size: 14px;
	font-weight: 400;
	color: #333;
	display: inline-block;
 *display: inline;
	vertical-align: middle;
	margin: -2px 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url(../images/red.png) no-repeat;
	border: none;
	cursor: pointer;
}
.icheckbox_flat {
	background-position: 0 0;
	&.checked {
		background-position: -22px 0;
		&.disabled {
			background-position: -66px 0;
		}
	}
	&.disabled {
		background-position: -44px 0;
		cursor: default;
	}
}
.iradio_flat {
	background-position: -88px 0;
	&.checked {
		background-position: -110px 0;
		&.disabled {
			background-position: -154px 0;
		}
	}
	&.disabled {
		background-position: -132px 0;
		cursor: default;
	}
}
.checked-span {
	float: right;
	position: absolute;
	margin: -20px 0 0 20px
}
/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.icheckbox_flat, .iradio_flat {
		background-image: url(../images/red@2x.png);
		-webkit-background-size: 176px 22px;
		background-size: 176px 22px;
	}
}

/* Drag n Drop plugin
----------------------------------- */
.upload-img {
	.btn-file {
		position: relative;
		overflow: hidden;
		/*padding-top: 10px;*/
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
		padding-top: 15px;
	}
	.img-zone {
		background-color: #f8f8f8;
		border: 1px solid #eee;
		@include border-radius(0px);
		padding: 20px;
		.glyphicon {
			color: $greymedium;
		}
		h2 {
			font-size: 36px;
			margin-top: 0;
			font-weight: 300;
			color: $greymedium;
		}
	}
	.progress, #img-preview {
		height: 13px;
		margin-top: 15px;
		margin-bottom: 10px;
		@include border-radius(2px);
	}
	#img-preview {
		height: inherit;
	}
	.well {
		margin-top: 5px;
		@include border-radius(1px);
		@include box-shadow(0,0,0,$white);
	}
	.alert {
		font-size: 13px;
		color: $white;
		padding: 5px 5px 3px 5px;
	}
	.close {
		.fa {
			font-size: 13px;
			margin: 2px 0 0 -11px;
    	position: absolute;
		}
	}
}