
// Header

.hd-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	border-bottom: 1px solid #D9DEE4;
	margin-bottom: 10px;
	width: 100%;
	@include transition(0.2s);
}
header {
	width: 100%;
	height: 82px;
	position: fixed;
	z-index: 999;
	padding: 4px 15px;
	background: $ashlight;
	top: 0;
	left: 0;
	h1 {
    float: left;
    /* margin: 6px; */
    padding: 0;
    background: $black;
    padding: 21px 0 9px;
    margin: -16px;
    width: 230px;
    text-align: center;
		position: absolute;
		left: 0;
		z-index: 9999;
	}
	h2, nav {
		font-size: 30px;
		font-weight: 600;
		text-transform: uppercase;
		color: $default-bg;
		position: absolute;
    width: 100%;
    text-align: center;
		margin-top: 19px;
		@media screen and (max-width :$screen-sm) {
			display: none;
		}
	}
	nav {
		margin-top: 35px;
		li {
			a {
				font-size: 17px !important;
				min-width: 130px;
				display: inline-block;
			}
		}
	}
	.action-panel {
		float: right;
		padding-top: 27px;
		padding-left: 0;
		position: relative;
    z-index: 9999;
		li {
			font-size: 14px;
			font-weight: 300;
			float: left;
			display: inline;
			.fa {
				font-size: 21px;
				color: $danger;
				padding-right: 10px;
			}
			span {
				font-weight: 400;
				color: $default-bg;
			}
			+li:before {
				content: "|";
				padding: 0 16px;
				color: #ccc;
			}
		}
	}
} 
