
// Navigation 

/*************************
***** Nav Style ******
**************************/

/* Sidebar Styles */
.navbar-header, .navbar-collapse {
	float: left;
	@media screen and (max-width: $screen-sm) {
			margin: -5px 0 0 190px !important;
	}
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 215px;
  margin: 0;
  padding: 0 0 70px 0;
  list-style: none;
  /*margin-top: -11px;*/
  li {
    text-indent: 15px;
    line-height: 85px;
    a {
			font-size: 17px;
      display: block;
      padding: 25px 0;
			text-transform: uppercase;
      text-decoration: none;
      color: $white;
			border-bottom: 1px solid rgba($white,0.3);
			@include border-radius(0);
      position: relative;
      overflow: hidden;
      &:hover, &:focus {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
			i {
        font-size: 25px;
        width: 63px;
        margin-left: 0;
        margin-right: 0;
        margin: 0 0 0 10px;
        float: left;
			}
      span {
        width: 142px;
        float: left;
        text-align: left;
        padding: 0;
        line-height: 25px;
        text-indent: 0;
      }
			.tooltip {
				text-indent: 0 !important;
			}
    }
		&.active {
			a {
				color: $default-bg;
				background: $purlwhite;
				&:hover, &:focus {
        	color: $default-bg;
					background: $purlwhite;
      	}
			}
		}
		&.sort {
			text-indent: 15px;
    	line-height: 60px;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				line-height: 0;
				border-top:  1px solid rgba($black,0.1);
				a {
					font-size: 13px;
          padding: 10px 0;
					&:hover {
						text-decoration: none;
						color: #fff;
						background: rgba(255, 255, 255, 0.2);
					}
          i {
            font-size: 20px;
            margin: 2px 0 0 10px;
          }
				}
			}
		}
  }
  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    a {
      color: #999999;
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}
.nav-stacked>li+li {
	margin-top: 0;
}
.navbar-nav {
	float: left;
	position: relative;
	z-index: 999;
	margin: -5px 0 0 177px;
	/*display: none;*/
	@media screen and (max-width: $screen-sm) {
		display: inherit;
	}
}
.navbar-toggle {
	margin-top: 22.5px;
}
nav {
	ul {
		margin: -25px 0 13px 155px;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			a {
				font-size: 16px;
				color: $white;
				padding: 5px 15px 6px;
				background: $black;
				@include border-radius(3px);
				&:hover, &.active {
					background: $info;
				}
			}
		}
	}
}