
// Table

.table {
	margin-bottom: 0px; 
	thead { 
		tr { 
			th {
				font-size: 15px;
				font-weight: 600;
				color: $grey;
				/*border-bottom: none;
				border-bottom: 2px solid rgba($greymedium,0.2);*/
				padding: 13px 10px;
				&.sm {
					font-size: 13px;
				}
        &.text-left {
          text-align: left;
        }
        &.text-right {
          text-align: right;
        }
        &.text-center {
          text-align: center;
        }
			}
		}
	}
	tbody {
		tr {
			td {
				font-size: 15px;
				padding: 13px;
				&.action {
					text-align: center;
					a {
						padding: 0 2px;
						.fa {
							font-size: 14px;
							color: $grey;
							&:hover {
								color: $black;
							}
						}
					}
				}
        &.text-left {
          text-align: left;
        }
        &.text-right {
          text-align: right;
        }
				span {
					&.alert {
						font-size: 12px;
						color: $white;
						margin:0;
						padding: 1px 4px 3px;
						text-align: center;
						.alert-warning {
							color: $grey;
						}
					}
				}
				&.danger {
					background: $danger;
				}
			}	
			&.colour-light {
				td {
					background: $ash;
				}
			}
		}
	}
  tfoot {
    tr {
			td {
				font-size: 15px;
				padding: 13px;
      }
    }
    &.total {
      background: $warning;
      td {
        font-weight: 700;
        color: $black;
        border-color: $warning;
        .form-control {
          font-size: 17px;
          color: $black;
          text-align: right;
        }
      }
    }
    &.total-gray {
      background: $grey;
      td {
        font-weight: 700;
        color: $black;
        border-color: $grey;
      }
    }
  }
}

table {
	font-weight: 400;
  border: 1px solid darken($ashlight,1%);
  td {
    a {
      color: $default-bg;
      &:hover {
        color: #070a6e;
        text-decoration: none;
      }
    }
    &.action a {
      font-size: 13px;
      color: $default-txt;
      margin: 0 5px;
      white-space: nowrap;
    }
    a .fa {
      &.fa-times {
        color: #E3373A;
      }
      margin-right: 0;
    }
    .fa {
      margin-right: 10px;
    }
		&.center {
			text-align: center;
		}
  }
  &.display {
    margin: 0 auto;
    clear: both;
    width: 100%;
    thead th {
      padding: 8px 18px 8px 10px;
      border-bottom: 1px solid $black;
      font-weight: bold;
      cursor: pointer;
      cursor: hand;
    }
    tfoot th {
      padding: 3px 18px 3px 10px;
      border-top: 1px solid $black;
      font-weight: bold;
    }
    tr.heading2 td {
      border-bottom: 1px solid #aaa;
    }
    td {
      padding: 3px 10px;
      &.center {
        text-align: center;
      }
    }
  }
}
.sorting_asc {
  background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
  background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
  background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
  background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
  background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

table.display thead {
  th:active, td:active {
    outline: none;
  }
}
/*.dataTable {
	table-layout:fixed;
	width: 100% !important; 
}*/
.dataTables_info {
	padding: 15px 0;
}
.dataTables_empty {
	
}
.dataTables_filter {
	float: right;
	input {
    height: 38px;
		margin-left: 20px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid darken($ashlight,1%);
		@include transition(0.5s);
		&:focus {
			border-color: rgba($greymedium,0.3);
			box-shadow: none !important;
		}
	}
}
.dataTables_scrollBody .table {
	border-top: none !important;
}
/*.table-responsive {
  overflow-x: inherit;
	@media screen and (max-width :$screen-sm) {
		overflow-x: auto;
	}
}
*/

