
// Fonts
$default-txt: #494949;
$default-bg: #494949;
$default-bg-dark: #182C53;
$black: #000;
$white: #fff;
$purlwhite: #fbfbfb;
$darkgrey: rgba(0,0,0,0.8);
$greymedium: rgba(0,0,0,0.5);
$grey: rgba(0,0,0,0.7);
$ash: #f4f4f4;
$ashlight: #eeeeee;
$success: #5AB335;
$successbright: #63d633;
$info: #14befd;
$infodark: #034fc0;
$warning: #F3D90A;
$danger: #FB1018;
$orange: #ff714b;

$brand-primary: 			#f9ad81;
$brand-secondary: 		#41454f;
$brand-success:         #5AB335;
$brand-info:            #1784fb;
$brand-warning:         #fed330;
$brand-danger:          #fb4f59;

$brand-white: #fff !default;
$brand-black: #000 !default;

$input-border-focus:  $brand-primary;

$font-primary: 'Roboto Slab', sans-serif;
$font-secondary: 'Roboto', sans-serif;;
